<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <% if logged_in? %>
    <%= button_to "Sign Out", sessions_url, method: :delete %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
